<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <link rel="stylesheet" href="bjInfo.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/mint.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <ul class="infoList um-content">
            <li class="first">
                <strong></strong>
                <i>基本信息</i>
            </li>
            <li>
                <span>
                    <b>*</b>客户名称</span>
                <input type="text" placeholder="请输入" v-model="datas.name" />
            </li>
            <li>
                <span>
                    <b>*</b>手机号</span>
                <input type="number" placeholder="请输入" v-model="datas.phoneNum" />
            </li>
            <li>
                <span>
                    <b></b>大区</span>
                <div @click="surePickerDQ">
                    <span class="iconfont icon-enter"></span>
                    <i v-if="datas.area" style="color: #333;">{{ datas.area }}</i>
                    <i v-else>请选择</i>
                </div>
            </li>
            <li>
                <span>
                    <b></b>分公司</span>
                <div @click="surePickerFGS">
                    <span class="iconfont icon-enter"></span>
                    <i v-if="datas.fengongsi" style="color: #333;">{{ datas.fengongsi }}</i>
                    <i v-else>请选择</i>
                </div>
            </li>
            <li v-if="datas.createDate!='none'">
                <span>
                    <b></b>创建时间</span>
                <p>{{ datas.createDate }}</p>
            </li>
            <li v-if="datas.kehuState!='none'">
                <span>
                    <b></b>客户状态</span>
                <p>{{ datas.kehuState }}</p>
            </li>
            <li>
                <span>
                    <b></b>商机状态</span>
                <div @click="surePickerSJLD">
                    <span class="iconfont icon-enter"></span>
                    <i v-if="datas.sjld" style="color: #333;">{{ datas.sjld }}</i>
                    <i v-else>请选择</i>
                </div>
            </li>
            <li>
                <span>
                    <b></b>客户属性</span>
                <div @click="surePickerKHSX">
                    <span class="iconfont icon-enter"></span>
                    <i v-if="datas.khsx" style="color: #333;">{{ datas.khsx }}</i>
                    <i v-else>请选择</i>
                </div>
            </li>
            <li>
                <span>
                    <b></b>客户类型</span>
                <div @click="surePickerKHLX">
                    <span class="iconfont icon-enter"></span>
                    <i v-if="datas.khlx" style="color: #333;">{{ datas.khlx }}</i>
                    <i v-else>请选择</i>
                </div>
            </li>
            <li>
                <span>
                    <b></b>合作方式</span>
                <div @click="surePickerHZFS">
                    <span class="iconfont icon-enter"></span>
                    <i v-if="datas.hzfs" style="color: #333;">{{ datas.hzfs }}</i>
                    <i v-else>请选择</i>
                </div>
            </li>
            <li>
                <span>
                    <b></b>销售人员</span>
                <p>{{ datas.xsry }}</p>
            </li>
            <li>
                <span>
                    <b></b>主代/身份证号</span>
                <input type="text" placeholder="请输入" v-model="datas.sfzNo" />
            </li>
                <li v-if='cstStatus'>
                    <span>
                        <b></b>注册时间</span>
                    <div @click="surePickerZCSJ">
                        <span class="iconfont icon-enter"></span>
                        <i v-if="datas.zcDate" style="color: #333;">{{ datas.zcDate }}</i>
                        <i v-else>请选择</i>
                    </div>
                </li> 
                <li v-if='cstStatus'>
                    <span>
                        <b></b>企业性质</span>
                    <div @click="surePickerQYXZ">
                        <span class="iconfont icon-enter"></span>
                        <i v-if="datas.qyxz" style="color: #333;">{{ datas.qyxz }}</i>
                        <i v-else>请选择</i>
                    </div>
                </li>
                <li v-if='cstStatus'>
                    <span>
                        <b></b>营业范围</span>
                    <input type="text" placeholder="请输入" v-model="datas.jyfw" />
                </li>
                <li v-if='cstStatus'>
                    <span>
                        <b></b>业务性质:</span>
                    <p></p>
                </li>
                <li class="ywxz" v-if="BUSI_PROPS.length">
                    <div v-for="(item, index) in BUSI_PROPS" v-if='cstStatus' @click="chooseywxz(index)">
                        <div class="circle" v-bind:class="[item.checked ? 'active' : '']" ></div>
                        <div class="txt" >{{ item.FLAG }}</div>
                    </div>
                </li>
          
            <li>
                <span>
                    <b></b>备注</span>
                <input type="text" placeholder="请输入" v-model="datas.bjInfoMark" />
            </li>
        </ul>
        <div class="um-footer">
            <button type="button" @click="changeTypeBtnClick" v-bind:class="[shouldChange ? 'shouldClick' : '']">转为意向客户</button>
            <!-- 注册日期 -->
            <mt-datetime-picker ref="picker1" v-model="pickerzcValue" type="date" cancel-text='取消' confirm-text='确定' :start-date='new Date("1950-01-01")'
                :end-date="new Date()" @confirm="handleConfirm1"></mt-datetime-picker>
            <!-- 客户属性 -->
            <mt-popup v-model="pickerKHSXShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots2" @change="onValuesChange2"></mt-picker>
                <p>
                    <span class="" @click="surePickerKHSX">取消</span>
                    <span class="" @click="surePickerKHSX('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 合作方式 -->
            <mt-popup v-model="pickerHZFSShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots3" @change="onValuesChange3"></mt-picker>
                <p>
                    <span class="" @click="surePickerHZFS">取消</span>
                    <span class="" @click="surePickerHZFS('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 企业性质 -->
            <mt-popup v-model="pickerQYXZShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots5" @change="onValuesChange5"></mt-picker>
                <p>
                    <span class="" @click="surePickerQYXZ">取消</span>
                    <span class="" @click="surePickerQYXZ('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 分公司 -->
            <mt-popup v-model="pickerFGSShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots6" @change="onValuesChange6"></mt-picker>
                <p>
                    <span class="" @click="surePickerFGS">取消</span>
                    <span class="" @click="surePickerFGS('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 大区 -->
            <mt-popup v-model="pickerDQShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots7" @change="onValuesChange7"></mt-picker>
                <p>
                    <span class="" @click="surePickerDQ">取消</span>
                    <span class="" @click="surePickerDQ('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 客户类型 -->
            <mt-popup v-model="pickerKHLXShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots8" @change="onValuesChange8"></mt-picker>
                <p>
                    <span class="" @click="surePickerKHLX">取消</span>
                    <span class="" @click="surePickerKHLX('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 商机漏斗 -->
            <mt-popup v-model="pickerSJLDShow" position="bottom" class="pickerColor">
                <mt-picker :slots="slots9" @change="onValuesChange9"></mt-picker>
                <p>
                    <span class="" @click="surePickerSJLD">取消</span>
                    <span class="" @click="surePickerSJLD('confirm')">确定</span>
                </p>
            </mt-popup>
        </div>
    </div>
</body>
<script type="text/javascript">
    var bjInfo = new Vue({
        el: '#index',
        data: {
            // 商机单ID
            ID: "",

            isOldCar:"是",

            cstStatus:true,
            // 登陆人电话
            EMPLOYEE_MOBILE_TEL: "",
            // 销售人员ID
            CLERK_ID: "",
            // 销售人员手机号（暂为登陆人电话）
            CLERK_TEL: "",
            // 是否可转意向客户
            shouldChange: false,
            // 保存的数据
            datas: {
                name: "",
                area: "",
                fengongsi: "",
                createDate: "",
                kehuState: "",
                khsx: "",
                khlx: "",
                hzfs: "",
                xsry: "",
                sfzNo: "",
                phoneNum: "",
                zcDate: "",
                qyxz: "",
                jyfw: "",
                sjld: "",
                bjInfoMark: "",
                ywxz: []
            },
            // 字典及信息
            resultData: "",
            //分公司字典
            companyResultData: "",
            // 业务性质
            BUSI_PROPS: [],
            // 注册时间
            pickerzcDate: false,
            pickerzcValue: new Date(),
            // 客户属性
            pickerKHSXShow: false,
            pickerKHSX: "",
            slots2: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }],
            // 合作方式
            pickerHZFSShow: false,
            pickerHZFS: "",
            slots3: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }],
            // 企业性质
            pickerQYXZShow: false,
            pickerQYXZ: "",
            slots5: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }],
            // 分公司
            pickerFGSShow: false,
            pickerFGS: "",
            slots6: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }],
            // 大区
            pickerDQShow: false,
            pickerDQ: "",
            slots7: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }],
            // 客户类型
            pickerKHLXShow: false,
            pickerKHLX: "",
            slots8: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }],
            // 商机漏斗
            pickerSJLDShow: false,
            pickerSJLD: "",
            slots9: [{
                flex: 1,
                values: [],
                defaultIndex: 0,
                className: 'slot1',
                textAlign: 'center'
            }]
        },
        methods: {
            // 注册时间
            surePickerZCSJ: function () {
                this.pickerzcDate = !this.pickerzcDate;
                this.$refs.picker1.open();
            },
            handleConfirm1: function (pickerValue) {
                this.pickerzcValue = pickerValue;
                var result = this.getFormatDate(pickerValue);
                this.datas.zcDate = result;
            },
            getFormatDate: function (date) {
                var date = new Date(date),
                    seperator1 = "-";
                var year = date.getFullYear(),
                    month = date.getMonth() + 1,
                    strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return year + '-' + month + '-' + strDate;
            },
            // 客户属性更改
            onValuesChange2: function (picker, values) {
                this.pickerKHSX = values[0];
            },
            surePickerKHSX: function (param) {
                var self = this;
                this.pickerKHSXShow = !this.pickerKHSXShow;
                if (param == 'confirm') {
                    this.datas.khsx = this.pickerKHSX;
                }
            },
            // 合作方式更改
            onValuesChange3: function (picker, values) {
                this.pickerHZFS = values[0];
            },
            surePickerHZFS: function (param) {
                var self = this;
                this.pickerHZFSShow = !this.pickerHZFSShow;
                if (param == 'confirm') {
                    this.datas.hzfs = this.pickerHZFS;
                }
            },
            // 企业性质更改
            onValuesChange5: function (picker, values) {
                this.pickerQYXZ = values[0];
            },
            surePickerQYXZ: function (param) {
                var self = this;
                this.pickerQYXZShow = !this.pickerQYXZShow;
                if (param == 'confirm') {
                    this.datas.qyxz = this.pickerQYXZ;
                }
            },
            // 分公司更改
            onValuesChange6: function (picker, values) {
                this.pickerFGS = values[0];
            },
            surePickerFGS: function (param) {
                var self = this;
                this.pickerFGSShow = !this.pickerFGSShow;
                if (param == 'confirm') {
                    this.datas.fengongsi = this.pickerFGS;
                }
            },
            // 大区更改
            onValuesChange7: function (picker, values) {
                this.pickerDQ = values[0];
            },
            surePickerDQ: function (param) {
                var self = this;
                this.pickerDQShow = !this.pickerDQShow;
                if (param == 'confirm') {
                    this.datas.area = this.pickerDQ;
                    ajaxRequest({
                    type: 'post',
                    url: 'crm/getCompanys',
                    param: {
                        QY: this.datas.area
                    }
                }, function (res) {
                    self.slots6[0].values = [];
                    
                    if (res.data.flag == 1) {
                        self.companyResultData = res.data.datas;
                        console.log("bbbb",res.data.datas.COMPANYS)
                        if (res.data.datas.COMPANYS) {
                            res.data.datas.COMPANYS.forEach(function (e) {
                            self.slots6[0].values.push(e.NAME);
                        });
                       console.log("aaaaa",self.datas.fengongsi)
                        }
                    } else {
                        summer.toast({
                            msg:  "获取分公司失败"
                        });
                    }
                }, function (err) {
                    console.log("err", err);
                    summer.toast({
                        msg: '转为意向客户失败'
                    });
                });
                      
                }
            },
            // 客户类型更改
            onValuesChange8: function (picker, values) {
                this.pickerKHLX = values[0];
                if(this.pickerKHLX == "自然人"){
                       this.cstStatus = false;
                          this.datas.zcDate = "";
                          this.datas.qyxz = "";
                          this.datas.jyfw = "";
                          this.datas.ywxz =  this.BUSI_PROPS.filter(function (e) {
                            return e.checked = false;
                          });
                    }else {
                       this.cstStatus = true;
                    }
            },
            surePickerKHLX: function (param) {
                var self = this;
                this.pickerKHLXShow = !this.pickerKHLXShow;
                if (param == 'confirm') {
                    this.datas.khlx = this.pickerKHLX;
                    console.log("aa",this.pickerKHLX)
                    // if(this.pickerKHLX == "自然人"){
                    //    this.cstStatus = false;
                    // }else {
                    //    this.cstStatus = true;
                    // }
                }
            },
            // 商机漏斗更改
            onValuesChange9: function (picker, values) {
                this.pickerSJLD = values[0];
            },
            surePickerSJLD: function (param) {
                var self = this;
                this.pickerSJLDShow = !this.pickerSJLDShow;
                if (param == 'confirm') {
                    this.datas.sjld = this.pickerSJLD;
                }
            },
            // 选择业务性质
            chooseywxz: function (index) {
                this.BUSI_PROPS[index].checked = !this.BUSI_PROPS[index].checked;
                this.datas.ywxz = this.BUSI_PROPS.filter(function (e) {
                    return e.checked == true;
                });
                console.log(this.datas.ywxz);
            },
            getData: function () {
                var self = this;
                summer.showProgress();
                ajaxRequest({
                    type: 'post',
                    url: 'crm/getCrmBusInfo',
                    param: {
                        ID: this.ID
                    }
                }, function (res) {
                    summer.hideProgress();
                    if (res.data.flag == 1) {
                        self.resultData = res.data.datas;
                        if (res.data.datas.crmBusInfo && res.data.datas.crmBusInfo.CST_NAME) {
                            var info = res.data.datas.crmBusInfo;
                            self.datas.name = info.CST_NAME ? info.CST_NAME : "";
                            if(info.CST_STATUS_NM) {
                                   if(info.CST_STATUS_NM == "自然人"){
                                        this.cstStatus = false;
                                      }else{
                                        this.cstStatus = true;
                                   }
                            }
                            if(!info.CST_NAME){
                                this.cstStatus = true;
                            }
                            self.datas.area = info.BUSI_AREA ? info.BUSI_AREA : "";
                            self.datas.fengongsi = info.BRANCH_CODE_NM ? info.BRANCH_CODE_NM : "";
                            self.datas.createDate = info.CREATE_DATE ? info.CREATE_DATE : "";
                            self.datas.kehuState = info.CST_STATUS_NM ? info.CST_STATUS_NM : "";
                            self.datas.khsx = info.CST_PROP_NM ? info.CST_PROP_NM : "";
                            self.datas.khlx = info.CST_TYPE_NM ? info.CST_TYPE_NM : "";
                            self.datas.hzfs = info.COO_WAY_NM ? info.COO_WAY_NM : "";
                            self.datas.sfzNo = info.CERT_NO ? info.CERT_NO : "";
                            self.datas.phoneNum = info.CST_TEL ? info.CST_TEL : "";
                            self.datas.zcDate = info.REG_DATE ? info.REG_DATE : "";
                            self.datas.qyxz = info.CORP_PROP_NM ? info.CORP_PROP_NM : "";
                            self.datas.sjld = info.BUSI_FUNNEL_NM ? info.BUSI_FUNNEL_NM : "";
                            self.datas.bjInfoMark = info.NOTES ? info.NOTES : "";
                            self.datas.jyfw = info.BUSI_RANGE ? info.BUSI_RANGE : "";
                            // 销售人员信息
                            var  BUSI_PROP_ARR  
                            if(info.BUSI_PROP){ 
                             
                            BUSI_PROP_ARR  = info.BUSI_PROP.split(",");}
                           
                            self.datas.xsry = info.CLERK_NAME;
                            self.CLERK_ID = info.CLERK_ID;
                            self.CLERK_TEL = info.CLERK_TEL;
                            // 是否可转意向用户
                            if (info.SYN_FLAG && info.SYN_FLAG != "1") {
                                self.shouldChange = true;
                                  }
                             } else {
                            res.data.datas.BUSI_PROPS.forEach(function (e) {
                                var o = {
                                    DATA_ID: e.DATA_ID,
                                    FLAG: e.FLAG,
                                    CODE: e.CODE,
                                    checked: false
                                };
                                self.BUSI_PROPS.push(o);
                            });
                            self.datas.kehuState = "none";
                            self.datas.createDate = "none";
                        }
                        res.data.datas.COO_WAYS.forEach(function (e) {
                            self.slots3[0].values.push(e.FLAG);
                        });
                    //SWL
                    //  res.data.datas.COMPANYS.forEach(function (e) {
                    //     self.slots6[0].values.push(e.SHORT_NAME);
                    // });
                        res.data.datas.LARGE_AREAS.forEach(function (e) {
                            self.slots7[0].values.push(e.FLAG);
                        });
                        res.data.datas.CORP_PROPS.forEach(function (e) {
                            self.slots5[0].values.push(e.FLAG);
                        });
                        res.data.datas.CST_PROPS.forEach(function (e) {
                            self.slots2[0].values.push(e.FLAG);
                        });
                        res.data.datas.CST_TYPE.forEach(function (e) {
                            self.slots8[0].values.push(e.FLAG);
                        });
                        res.data.datas.BUSI_FUNNELS.forEach(function (e) {
                            self.slots9[0].values.push(e.FLAG);
                        });
                        res.data.datas.BUSI_PROPS.forEach(function (e) {
                                var o = {};
                         if (BUSI_PROP_ARR){

                                if (BUSI_PROP_ARR.some(function (item) {return item == e.CODE})) {
                                    BUSI_PROP_ARR.forEach(function (item) {
                                        if (item == e.CODE) {
                                            o = {
                                                DATA_ID: e.DATA_ID,
                                                FLAG: e.FLAG,
                                                CODE: e.CODE,
                                                checked: true
                                            };
                                        }
                                    });
                                } else {
                                    o = {
                                        DATA_ID: e.DATA_ID,
                                        FLAG: e.FLAG,
                                        CODE: e.CODE,
                                        checked: false
                                    };
                                  }
                             } else  {
                                    o = {
                                        DATA_ID: e.DATA_ID,
                                        FLAG: e.FLAG,
                                        CODE: e.CODE,
                                        checked: false
                                    };
                                  }
                                self.BUSI_PROPS.push(o);
                            });
                            self.datas.ywxz = self.BUSI_PROPS.filter(function (e) {
                                return e.checked == true;
                            });
                        // 新增时间默认当天
                        self.handleConfirm1(new Date());
                    } else {
                        summer.toast({
                            msg: '获取基础信息失败'
                        })
                    }
                }, function (err) {
                    summer.hideProgress();
                    console.log("err", err);
                    summer.toast({
                        msg: '获取基础信息失败'
                    })
                });
            },
            saveCheck: function () {
                var phoneCard = /^[1][3,4,5,7,8,9][0-9]{9}$/;
                if (this.datas.name == "") {
                    summer.toast({
                        msg: '请输入客户名称'
                    });
                    return false;
                } else if (this.datas.phoneNum == "") {
                    summer.toast({
                        msg: '请输入手机号'
                    });
                    return false;
                } else if (!phoneCard.test(this.datas.phoneNum)) {
                    summer.toast({
                        msg: "手机号格式有误"
                    });
                    return false;
                } else {
                    return true;
                }
            },
            // 保存（返回）
            save: function (type) {
                if (this.saveCheck()) {
                    var _this = this;
                    summer.showProgress();
                    var CST_TYPE, CST_PROP, BUSI_AREA, BRANCH_NAME, COO_WAY, CORP_PROP, BUSI_PROP=[], BUSI_FUNNEL;
                    this.resultData.CST_TYPE.forEach(function (e) {
                        if (e.FLAG == _this.datas.khlx) {
                            CST_TYPE = e.CODE;
                        }
                    });
                    this.resultData.CST_PROPS.forEach(function (e) {
                        if (e.FLAG == _this.datas.khsx) {
                            CST_PROP = e.CODE;
                        }
                    });
                    this.resultData.LARGE_AREAS.forEach(function (e) {
                        if (e.FLAG == _this.datas.area) {
                            BUSI_AREA = e.CODE;
                        }
                    });
                    // this.companyResultData.COMPANYS.forEach(function (e) {
                    //     if (e.NAME == _this.datas.fengongsi) {
                    //         BRANCH_NAME = e.NAME;
                    //     }
                    // });
                    BRANCH_NAME = _this.datas.fengongsi
                    // res.data.datas.COMPANYS.forEach(function (e) {
                    //         self.slots6[0].values.push(e.NAME);
                    // console.log("名称",BRANCH_NAME)
                    this.resultData.COO_WAYS.forEach(function (e) {
                        if (e.FLAG == _this.datas.hzfs) {
                            COO_WAY = e.CODE;
                        }
                    });
                    this.resultData.CORP_PROPS.forEach(function (e) {
                        if (e.FLAG == _this.datas.qyxz) {
                            CORP_PROP = e.CODE;
                        }
                    });
                    this.datas.ywxz.forEach(function (e) {
                        BUSI_PROP.push(e.CODE);
                    });
                    this.resultData.BUSI_FUNNELS.forEach(function (e) {
                        if (e.FLAG == _this.datas.sjld) {
                            BUSI_FUNNEL = e.CODE;
                        }
                    });
                    ajaxRequest({
                        type: 'post',
                        url: 'crm/saveCrmBusInfo',
                        param: {
                            ID: _this.ID,
                            CST_NAME: _this.datas.name,
                            EMPLOYEE_MOBILE_TEL: _this.EMPLOYEE_MOBILE_TEL,
                            CLERK_ID: _this.CLERK_ID,
                            CLERK_TEL: _this.CLERK_TEL,
                            CST_TEL: _this.datas.phoneNum,
                            CERT_NO: _this.datas.sfzNo,
                            CST_TYPE: CST_TYPE,
                            CST_PROP: CST_PROP,
                            BUSI_AREA: BUSI_AREA,
                            BRANCH_NAME: BRANCH_NAME,
                            COO_WAY: COO_WAY,
                            REG_DATE: _this.datas.zcDate,
                            CORP_PROP: CORP_PROP,
                            BUSI_PROP: BUSI_PROP.join(),
                            BUSI_FUNNEL: BUSI_FUNNEL,
                            BUSI_RANGE: _this.datas.jyfw,
                            NOTES: _this.datas.bjInfoMark
                        }
                    }, function (res) {
                        summer.hideProgress();
                        if (res.data.flag == 1) {
                            var CST_CODE = res.data.datas.CST_CODE ? res.data.datas.CST_CODE : "";
                            var ID = res.data.datas.ID ? res.data.datas.ID : "";
                            if (!type || type != 'changeType') {
                                summer.toast({
                                    msg: '保存成功'
                                })
                            }
                            summer.execScript({
                                winId: 'menu',
                                script: "addRight('oSJD')"
                            });
                            if (CST_CODE && ID) {
                                summer.execScript({
                                    winId: 'menu',
                                    script: "menu.addCSTCODE('"+ CST_CODE +"','"+ ID +"')"
                                });
                            }
                            if (type && type == 'changeType') {
                                _this.changeType(_this);
                            } else {
                                summer.closeWin();
                            }
                        } else {
                            if (type && type == 'changeType') {
                                summer.toast({
                                    msg: "保存失败，无法转为意向客户"
                                })
                            } else {
                                summer.toast({
                                    msg: res.data.msg ? res.data.msg : "保存失败"
                                })
                            }
                        }
                    }, function (err) {
                        summer.hideProgress();
                        console.log("err", err);
                        if (type && type == 'changeType') {
                            summer.toast({
                                msg: "保存失败，无法转为意向客户"
                            })
                        } else {
                            summer.toast({
                                msg: "保存失败"
                            })
                        }
                    });
                }
            },
            changeType: function (_this) {
                ajaxRequest({
                    type: 'post',
                    url: 'crm/turnTendCust',
                    param: {
                        ID: this.ID
                    }
                }, function (res) {
                    if (res.data.flag == 1) {
                        summer.toast({
                            msg: '已转为意向客户'
                        });
                        _this.shouldChange = false;
                        summer.closeWin();
                    } else {
                        summer.toast({
                            msg: res.data.msg ? res.data.msg : "转为意向客户失败"
                        });
                    }
                }, function (err) {
                    console.log("err", err);
                    summer.toast({
                        msg: '转为意向客户失败'
                    });
                });
            },
            changeTypeBtnClick: function () {
                if (!this.shouldChange) {
                    return;
                }
                if (this.datas.name == "") {
                    summer.toast({
                        msg: '客户姓名为空，不可转为意向客户'
                    });
                    return;
                } else if (this.datas.phoneNum == "") {
                    summer.toast({
                        msg: '客户电话为空，不可转为意向客户'
                    });
                    return;
                } else if (this.datas.sfzNo == "") {
                    summer.toast({
                        msg: '客户身份证号为空，不可转为意向客户'
                    });
                    return;
                }
                // 转意向客户前先执行保存逻辑
                this.save('changeType');
            }
        }
    });
    summerready = function () {
        bjInfo.ID = summer.pageParam.ID;
        console.log("aaaaa",bjInfo.ID);
        var userinfo = summer.getStorage("userinfo");
        if (userinfo) {
            bjInfo.EMPLOYEE_MOBILE_TEL = userinfo.EMPLOYEE_MOBILE_TEL;
            bjInfo.CLERK_TEL = userinfo.EMPLOYEE_MOBILE_TEL;
            bjInfo.datas.xsry = userinfo.EMPLOYEE_NAME;
            bjInfo.CLERK_ID = userinfo.EMPLOYEE_ID;
        }
        bjInfo.getData();
    }
</script>

</html>