<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="loanInfo.css">
    <link rel="stylesheet" href="../../../css/mint.css">
    <script src="../../../js/summer.js"></script>
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../../js/font.js"></script>
    <script src="../../../js/vue.js"></script>
    <script src="../../../js/mint.js"></script>
    <script src="../../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content" v-cloak>
            <ul class="loanList">
                <li class="first">
                    <strong></strong>
                    <i>收款单位信息</i>
                </li>
                <li>
                    <span>单位类型</span>
                    <div @click="sureSKType">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerSKType == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerSKType }}</i>
					</div>
                </li>
                <li>
                    <span>单位名称</span>
                    <div @click="sureSKName">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerSKName == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerSKName }}</i>
					</div>
                </li>
                <li>
                    <span>开户行</span>
                    <div @click="sureSKBank">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerSKBank == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerSKBank }}</i>
					</div>
                </li>
                <li>
                    <span>账号</span>
                    <div @click="sureSKBankCode">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerSKBankCode == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerSKBankCode }}</i>
					</div>
                </li>
                <li>
                    <span>银行所在地</span>
                    <div @click="sureSKBankPlace">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerSKBankPlace == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerSKBankPlace }}</i>
					</div>
                </li>
                <li class="first">
                    <strong></strong>
                    <i>付款单位信息</i>
                </li>
                <li>
                    <span>单位名称</span>
                    <div @click="sureFKName">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerFKName == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerFKName }}</i>
					</div>
                </li>
                <li>
                    <span>开户行</span>
                    <div @click="sureFKBank">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerFKBank == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerFKBank }}</i>
					</div>
                </li>
                <li>
                    <span>账号</span>
                    <div @click="sureFKBankCode">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerFKBankCode == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerFKBankCode }}</i>
					</div>
                </li>
                <li>
                    <span>付款方式</span>
                    <div @click="surePAYMODE">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerPAYMODE == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{ insurerPAYMODE }}</i>
					</div>
                </li>
                <li class="first">
                    <strong></strong>
                    <i>付款情况说明</i>
                </li>
                <li>
                    <span>是否加急</span>
                    <div class="type">
                        <span v-bind:class="{ active: isActive }" @click="chooseYes">是</span>
                        <span v-bind:class="{ active: !isActive }" @click="chooseNo">否</span>
                    </div>
                </li>
                <li>
                    <span>金额（小写）</span>
                    <strong>元</strong>
                    <div>{{ PAY_AMOUNT_SQ }}</div>
                </li>
                <li>
                    <span>金额（大写）</span>
                    <div>{{ PAY_AMOUNT_UPPER_SQ }}</div>
                </li>
                <li>
                    <span>不含税车价</span>
                    <strong>元</strong>
                    <input v-model="noticeOfPayment.NOTINCLUDING" type="number" placeholder="请输入" />
                </li>
                <li>
                    <span>车价税</span>
                    <strong>元</strong>
                    <input v-model="noticeOfPayment.VEHICLETAX" type="number" placeholder="请输入" />
                </li>
                <li>
                    <span>付款依据</span>
                    <input v-model="PAYMENT_BASIS" type="text" placeholder="请输入" />
                </li>
                <li>
                    <span>备注</span>
                    <input v-model="note" type="text" placeholder="请输入" />
                </li>
            </ul>
            <!-- 收款单位类型 -->
            <mt-popup v-model="skTypeStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="skTypeSlots" @change="onSKTypeChange"></mt-picker>
                <p>
                    <span class="" @click="sureSKType">取消</span>
                    <span class="" @click="sureSKType('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 收款单位名称 -->
            <mt-popup v-model="skNameStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="skNameSlots" @change="onSKNameChange"></mt-picker>
                <p>
                    <span class="" @click="sureSKName">取消</span>
                    <span class="" @click="sureSKName('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 收款开户行 -->
            <mt-popup v-model="skBankStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="skBankSlots" @change="onSKBankChange"></mt-picker>
                <p>
                    <span class="" @click="sureSKBank">取消</span>
                    <span class="" @click="sureSKBank('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 收款开户行账号 -->
            <mt-popup v-model="skBankCodeStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="skBankCodeSlots" @change="onSKBankCodeChange"></mt-picker>
                <p>
                    <span class="" @click="sureSKBankCode">取消</span>
                    <span class="" @click="sureSKBankCode('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 收款开户行所在地 -->
            <mt-popup v-model="skBankPlaceStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="skBankPlaceSlots" @change="onSKBankPlaceChange"></mt-picker>
                <p>
                    <span class="" @click="sureSKBankPlace">取消</span>
                    <span class="" @click="sureSKBankPlace('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 付款部分开始 -->
            <!-- 付款单位名称 -->
            <mt-popup v-model="fkNameStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="fkNameSlots" @change="onFKNameChange"></mt-picker>
                <p>
                    <span class="" @click="sureFKName">取消</span>
                    <span class="" @click="sureFKName('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 付款开户行 -->
            <mt-popup v-model="fkBankStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="fkBankSlots" @change="onFKBankChange"></mt-picker>
                <p>
                    <span class="" @click="sureFKBank">取消</span>
                    <span class="" @click="sureFKBank('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 付款开户行账号 -->
            <mt-popup v-model="fkBankCodeStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="fkBankCodeSlots" @change="onFKBankCodeChange"></mt-picker>
                <p>
                    <span class="" @click="sureFKBankCode">取消</span>
                    <span class="" @click="sureFKBankCode('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 付款方式 -->
            <mt-popup v-model="PAYMODEStatus" position="bottom" class="pickerColor">
                <mt-picker :slots="PAYMODESlots" @change="onPAYMODEChange"></mt-picker>
                <p>
                    <span class="" @click="surePAYMODE">取消</span>
                    <span class="" @click="surePAYMODE('confirm')">确定</span>
                </p>
            </mt-popup>
        </div>
    </div>
    <script type="text/javascript">
        var loanInfo2 = new Vue({
            el: '#index',
            data: {
                EMPLOYEE_NAME: "",
                CONTRACT_ID: "", // 融资租赁合同id
                realPaymentInfo: {}, // 实际付款信息
                paymentHistory: {}, // 付款历史信息
                riqi: {}, // 付款日期
                noticeOfPayment: {}, // 付款通知书
                paymentOfthis: {}, // 本次付款信息列表
                fileList: {}, // 付款文件
                contractInfo: {}, // contractInfo
                PAY_MODE: [], // 付款方式字典
                // 是否代收
                isCOLLECTION: true,
                // 合同补充约定
                remarks: "",
                // 是否加急
                URGENT: "0",
                // 车款
                EQU_MONEY_ALL: "",
                // 代收
                COLLECTION: "",
                // 贴息
                DISCOUNT: "",
                // 付款依据
                PAYMENT_BASIS: "",
                // 备注
                note: "",
                // 收款单位类型
                skTypeStatus:false,
                pickedSKType:"",
                insurerSKType:"请选择",
                skTypeArr:[],
                skTypeSlots: [{
                    flex: 1,
                    values: ['融资租赁公司', '承租人', '经销商'],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 收款单位名称
                skNameStatus:false,
                pickedSKName:"",
                insurerSKName:"请选择",
                skNameArr:[],
                skNameSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 收款开户行
                skBankStatus:false,
                pickedSKBank:"",
                insurerSKBank:"请选择",
                skBankArr:[],
                skBankSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 收款开户行账号
                skBankCodeStatus:false,
                pickedSKBankCode:"",
                insurerSKBankCode:"请选择",
                skBankCodeArr:[],
                skBankCodeSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 收款开户行所在地
                skBankPlaceStatus:false,
                pickedSKBankPlace:"",
                insurerSKBankPlace:"请选择",
                skBankPlaceArr:[],
                skBankPlaceSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 付款单位名称
                fkNameStatus:false,
                pickedFKName:"",
                insurerFKName:"请选择",
                fkNameArr:[],
                fkNameSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 付款开户行
                fkBankStatus:false,
                pickedFKBank:"",
                insurerFKBank:"请选择",
                fkBankArr:[],
                fkBankSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 付款开户行账号
                fkBankCodeStatus:false,
                pickedFKBankCode:"",
                insurerFKBankCode:"请选择",
                fkBankCodeArr:[],
                fkBankCodeSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 付款方式
                PAYMODEStatus:false,
                pickedPAYMODE:"",
                insurerPAYMODE:"请选择",
                PAYMODESlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
            },
            computed: {
                // 单选样式
                isActive: function () {
                    if (this.URGENT == "1") {
                        return true;
                    } else {
                        return false;
                    }
                },
                // 金额小写（车款-代收-贴息）
                PAY_AMOUNT_SQ: function () {
                    var result = Number(this.EQU_MONEY_ALL - this.COLLECTION - this.DISCOUNT).toFixed(2);
                    return result;
                },
                // 金额大写
                PAY_AMOUNT_UPPER_SQ: function () {
                    var result = convertCurrency(this.PAY_AMOUNT_SQ);
                    if (result == "") {
                        result = "零元整"
                    }
                    return result;
                }
            },
            methods: {
                // 是否加急
                chooseYes:function () {
                    this.URGENT = "1";
                },
                chooseNo:function () {
                    this.URGENT = "0";
                },
                // 选择收款单位类型
                onSKTypeChange: function (picker, values) {
					this.pickedSKType = values[0];
				},
				sureSKType: function (param) {
					this.skTypeStatus = !this.skTypeStatus;
					if (param == 'confirm') {
                        this.insurerSKType = this.pickedSKType;
                        // 清除其他付款单位信息
                        this.skNameSlots[0].values.splice(0, this.skNameSlots[0].values.length);
                        this.skBankSlots[0].values.splice(0, this.skBankSlots[0].values.length);
                        this.skBankCodeSlots[0].values.splice(0, this.skBankCodeSlots[0].values.length);
                        this.skBankPlaceSlots[0].values.splice(0, this.skBankPlaceSlots[0].values.length);
                        this.insurerSKName = "请选择";
                        this.insurerSKBank = "请选择";
                        this.insurerSKBankCode = "请选择"; 
                        this.insurerSKBankPlace = "请选择"; 
                        this.getSKCompany(this.pickedSKType);
					}
                },
                // 选择收款单位名称
                onSKNameChange: function (picker, values) {
					this.pickedSKName = values[0];
				},
				sureSKName: function (param) {
                    if (this.insurerSKType == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位类型"
                        });
                        return;
                    }
					this.skNameStatus = !this.skNameStatus;
					if (param == 'confirm') {
                        this.insurerSKName = this.pickedSKName;
                        if (this.insurerSKType == "融资租赁公司") {
                            // 清除其他付款单位信息
                            this.skBankSlots[0].values.splice(0, this.skBankSlots[0].values.length);
                            this.skBankCodeSlots[0].values.splice(0, this.skBankCodeSlots[0].values.length);
                            this.skBankPlaceSlots[0].values.splice(0, this.skBankPlaceSlots[0].values.length);
                            this.insurerSKBank = "请选择";
                            this.insurerSKBankCode = "请选择"; 
                            this.insurerSKBankPlace = "请选择"; 
                            this.getFKcompanyList(this.pickedSKName, 'sk');
                        }
					}
                },
                // 选择收款开户行名称
                onSKBankChange: function (picker, values) {
					this.pickedSKBank = values[0];
				},
				sureSKBank: function (param) {
                    if (this.insurerSKType == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位类型"
                        });
                        return;
                    }
                    if (this.insurerSKType == "融资租赁公司" && this.insurerSKName == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位"
                        });
                        return;
                    }
					this.skBankStatus = !this.skBankStatus;
					if (param == 'confirm') {
						this.insurerSKBank = this.pickedSKBank;
					}
                },
                // 选择收款开户行账号
                onSKBankCodeChange: function (picker, values) {
					this.pickedSKBankCode = values[0];
				},
				sureSKBankCode: function (param) {
                    if (this.insurerSKType == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位类型"
                        });
                        return;
                    }
                    if (this.insurerSKType == "融资租赁公司" && this.insurerSKName == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位"
                        });
                        return;
                    }
					this.skBankCodeStatus = !this.skBankCodeStatus;
					if (param == 'confirm') {
						this.insurerSKBankCode = this.pickedSKBankCode;
					}
                },
                // 选择收款开户行所在地
                onSKBankPlaceChange: function (picker, values) {
					this.pickedSKBankPlace = values[0];
				},
				sureSKBankPlace: function (param) {
                    if (this.insurerSKType == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位类型"
                        });
                        return;
                    }
                    if (this.insurerSKType == "融资租赁公司" && this.insurerSKName == "请选择") {
                        summer.toast({
                            msg: "请先选择收款单位"
                        });
                        return;
                    }
					this.skBankPlaceStatus = !this.skBankPlaceStatus;
					if (param == 'confirm') {
						this.insurerSKBankPlace = this.pickedSKBankPlace;
					}
                },
                /****************** 付款 ******************/
                // 选择付款单位名称
                onFKNameChange: function (picker, values) {
					this.pickedFKName = values[0];
				},
				sureFKName: function (param) {
					this.fkNameStatus = !this.fkNameStatus;
					if (param == 'confirm') {
                        this.insurerFKName = this.pickedFKName;
                        // 清除其他付款单位信息
                        this.fkBankSlots[0].values.splice(0, this.fkBankSlots[0].values.length);
                        this.fkBankCodeSlots[0].values.splice(0, this.fkBankCodeSlots[0].values.length);
                        this.insurerFKBank = "请选择";
                        this.insurerFKBankCode = "请选择";
                        this.insurerPAYMODE = "请选择";
                        this.getFKcompanyList(this.pickedFKName, 'fk');
					}
                },
                // 选择付款开户行名称
                onFKBankChange: function (picker, values) {
					this.pickedFKBank = values[0];
				},
				sureFKBank: function (param) {
                    if (this.insurerFKName == "请选择") {
                        summer.toast({
                            msg: "请先选择付款单位"
                        });
                        return;
                    }
					this.fkBankStatus = !this.fkBankStatus;
					if (param == 'confirm') {
						this.insurerFKBank = this.pickedFKBank;
					}
                },
                // 选择付款开户行账号
                onFKBankCodeChange: function (picker, values) {
					this.pickedFKBankCode = values[0];
				},
				sureFKBankCode: function (param) {
                    if (this.insurerFKName == "请选择") {
                        summer.toast({
                            msg: "请先选择付款单位"
                        });
                        return;
                    }
					this.fkBankCodeStatus = !this.fkBankCodeStatus;
					if (param == 'confirm') {
						this.insurerFKBankCode = this.pickedFKBankCode;
					}
                },
                // 选择付款方式
                onPAYMODEChange: function (picker, values) {
					this.pickedPAYMODE = values[0];
				},
				surePAYMODE: function (param) {
					this.PAYMODEStatus = !this.PAYMODEStatus;
					if (param == 'confirm') {
						this.insurerPAYMODE = this.pickedPAYMODE;
					}
                },
                // 获取付款单位信息
                getFKcompanyList: function (SHORT_NAME, type) {
                    var self = this;
                    summer.showProgress();
                    ajaxRequest({
                        type: 'post',
                        url: 'payment/getCompanyInfo',
                        param: {
                            "SHORT_NAME": SHORT_NAME
                        }
                    }, function(res) {
                        summer.hideProgress();
                        var Data;
                        if (Object.prototype.toString.call(res.data) === '[object String]') {
                            Data = JSON.parse(res.data);
                        } else {
                            Data = res.data;
                        }
                        if (Data.flag == 1) {
                            var companyList = Data.datas.companyList ? Data.datas.companyList : [];
                            if (type == "fk") {
                                // 付款信息
                                if (SHORT_NAME) {
                                    companyList.forEach(function (e) {
                                        self.fkBankSlots[0].values.push(e.BANK);
                                        self.fkBankCodeSlots[0].values.push(e.ACCOUNT);
                                    });
                                } else {
                                    companyList.forEach(function (e) {
                                        self.fkNameSlots[0].values.push(e.NAME);
                                    });
                                }
                            } else {
                                // 收款信息
                                companyList.forEach(function (e) {
                                    self.skBankSlots[0].values.push(e.BANK);
                                    self.skBankCodeSlots[0].values.push(e.ACCOUNT);
                                    self.skBankPlaceSlots[0].values.push(e.BANK_ADD);
                                });
                            }
                        } else {
                            summer.toast({
                                msg: "获取付款单位信息失败"
                            });
                        }
                    }, function(err) {
                        summer.hideProgress();
                        summer.toast({
                            msg: "获取付款单位信息失败"
                        });
                        console.log(err);
                    });
                },
                // 获取收款单位名称
                getSKCompany: function (pickedSKType) {
                    var self = this;
                    summer.showProgress();
                    ajaxRequest({
                        type: 'post',
                        url: 'payment/toCarPaymentPage',
                        param: {
                            "RECIPIENTTYPE": pickedSKType,
                            "ID": self.noticeOfPayment.PAYMENT_ID
                        }
                    }, function(res) {
                        summer.hideProgress();
                        var Data;
                        if (Object.prototype.toString.call(res.data) === '[object String]') {
                            Data = JSON.parse(res.data);
                        } else {
                            Data = res.data;
                        }
                        if (Data.flag == 1) {
                            var list = Data.datas.list ? Data.datas.list : [];
                            if (pickedSKType == "融资租赁公司") {
                                list.forEach(function (e) {
                                    self.skNameSlots[0].values.push(e.NAME);
                                });
                            } else {
                                list.forEach(function (e) {
                                    self.skNameSlots[0].values.push(e.NAME);
                                    self.skBankSlots[0].values.push(e.BANK);
                                    self.skBankCodeSlots[0].values.push(e.ACCOUNT);
                                    self.skBankPlaceSlots[0].values.push(e.BANK_ADD);
                                });
                            }
                        } else {
                            summer.toast({
                                msg: "获取付款单位信息失败"
                            });
                        }
                    }, function(err) {
                        summer.hideProgress();
                        summer.toast({
                            msg: "获取付款单位信息失败"
                        });
                        console.log(err);
                    });
                },
                // 提交前验证
                validate: function () {
                    if (this.insurerSKType == "请选择" || this.insurerSKName == "请选择" || this.insurerSKBank == "请选择" || this.insurerSKBankCode == "请选择" || this.insurerSKBankPlace == "请选择") {
                        summer.toast({
                            msg: "请完善收款单位信息"
                        });
                        return false;
                    } else if (this.insurerFKName == "请选择" || this.insurerFKBank == "请选择" || this.insurerFKBankCode == "请选择" || this.insurerPAYMODE == "请选择") {
                        summer.toast({
                            msg: "请完善付款单位信息"
                        });
                        return false;
                    } else {
                        return true;
                    }
                },
                // 提交
                submit: function () {
                    if (!this.validate()) {
                        return;
                    }
                    var self = this;
                    summer.showProgress();
                    ajaxRequest({
                        type: 'post',
                        url: 'payment/addPayment',
                        param: {
                            "CONTRACT_ID": this.CONTRACT_ID,
                            "OPERATOR_NAME": this.EMPLOYEE_NAME,
                            "SELLER_UNIT_NAME": this.insurerSKName,
                            "SELLER_BANK_ACCO": this.insurerSKBank,
                            "SELLER_ACCOUNT": this.insurerSKBankCode,
                            "RECIPIENTTYPE": this.insurerSKType,
                            "PAY_AMOUNT_SQ": this.PAY_AMOUNT_SQ,
                            "BUYER_UNIT_NAME": this.insurerFKName,
                            "BUYER_BANK_ACCO": this.insurerFKBank,
                            "BUYER_ACCOUNT": this.insurerFKBankCode,
                            "PAY_AMOUNT_UPPER_SQ": this.PAY_AMOUNT_UPPER_SQ,
                            "VEHICLETAX": this.noticeOfPayment.VEHICLETAX,
                            "NOTINCLUDING": this.noticeOfPayment.NOTINCLUDING,
                            "S_BANK_ADD": this.insurerSKBankPlace,
                            "PAY_MODE": this.insurerPAYMODE,
                            "APPLICATION_TYPE": "0",
                            "ID": this.noticeOfPayment.PAYMENT_ID,
                            "PROJECT_ID": this.contractInfo.TPHID,
                            "EMPLOYEE_NAME": this.EMPLOYEE_NAME,
                            "SHIFOUDAIKOU": this.isCOLLECTION ? "0" : "1",
                            "URGENT": this.URGENT,
                            "SUPPLEMENTARY": this.remarks,
                            "PAYMENT_BASIS": this.PAYMENT_BASIS,
                            "PAYMENT_REMARK": this.note
                        }
                    }, function(res) {
                        summer.hideProgress();
                        var Data;
                        if (Object.prototype.toString.call(res.data) === '[object String]') {
                            Data = JSON.parse(res.data);
                        } else {
                            Data = res.data;
                        }
                        if (Data.flag == 1) {
                            summer.toast({
                                msg: "付款申请发起成功"
                            });
                            summer.closeToWin({
                                id: "payList"
                            });
                        } else {
                            summer.toast({
                                msg: "付款申请发起失败"
                            });
                        }
                    }, function(err) {
                        summer.hideProgress();
                        summer.toast({
                            msg: "付款申请发起失败"
                        });
                        console.log(err);
                    });
                }
            }
        });
        summerready = function() {
            // 接收参数，处理data
            if (summer.getStorage("userinfo")) {
                if (summer.getStorage("userinfo").EMPLOYEE_NAME) {
                    loanInfo2.EMPLOYEE_NAME = summer.getStorage("userinfo").EMPLOYEE_NAME;
                }
            }
            loanInfo2.CONTRACT_ID = summer.pageParam.CONTRACT_ID;
            loanInfo2.realPaymentInfo = summer.pageParam.realPaymentInfo;
            loanInfo2.paymentHistory = summer.pageParam.paymentHistory;
            loanInfo2.riqi = summer.pageParam.riqi;
            loanInfo2.noticeOfPayment = summer.pageParam.noticeOfPayment[0] ? summer.pageParam.noticeOfPayment[0] : {};
            if (summer.pageParam.noticeOfPayment[0] && summer.pageParam.noticeOfPayment[0].URGENT) {
                loanInfo2.URGENT = summer.pageParam.noticeOfPayment[0].URGENT;
            } else {
                loanInfo2.URGENT = "0";
            }
            // 防止页面报错，提前赋值
            if (summer.pageParam.noticeOfPayment[0] && !summer.pageParam.noticeOfPayment[0].NOTINCLUDING) {
                loanInfo2.noticeOfPayment.NOTINCLUDING = "";
            } else if (!summer.pageParam.noticeOfPayment[0]) {
                loanInfo2.noticeOfPayment.NOTINCLUDING = "";
            }
            if (summer.pageParam.noticeOfPayment[0] && !summer.pageParam.noticeOfPayment[0].VEHICLETAX) {
                loanInfo2.noticeOfPayment.VEHICLETAX = "";
            } else if (!summer.pageParam.noticeOfPayment[0]) {
                loanInfo2.noticeOfPayment.VEHICLETAX = "";
            }
            loanInfo2.paymentOfthis = summer.pageParam.paymentOfthis;
            loanInfo2.fileList = summer.pageParam.fileList;
            loanInfo2.contractInfo = summer.pageParam.contractInfo;
            if (summer.pageParam.contractInfo.EQU_MONEY_ALL) {
                loanInfo2.EQU_MONEY_ALL = summer.pageParam.contractInfo.EQU_MONEY_ALL;
            } else {
                loanInfo2.EQU_MONEY_ALL = "";
            }
            if (summer.pageParam.contractInfo.COLLECTION) {
                loanInfo2.COLLECTION = summer.pageParam.contractInfo.COLLECTION;
            } else {
                loanInfo2.COLLECTION = "";
            }
            if (summer.pageParam.contractInfo.DISCOUNT) {
                loanInfo2.DISCOUNT = summer.pageParam.contractInfo.DISCOUNT;
            } else {
                loanInfo2.DISCOUNT = "";
            }
            loanInfo2.PAY_MODE = summer.pageParam.PAY_MODE;
            summer.pageParam.PAY_MODE.forEach(function (e) {
                loanInfo2.PAYMODESlots[0].values.push(e.FLAG);
            });
            loanInfo2.isCOLLECTION = summer.pageParam.isCOLLECTION;
            loanInfo2.remarks = summer.pageParam.remarks;
            // 获取付款单位信息
            loanInfo2.getFKcompanyList('', 'fk');
   
            if (summer.pageParam.VEHICLETAXNEW) {
                loanInfo2.noticeOfPayment.VEHICLETAX = summer.pageParam.VEHICLETAXNEW;
            } 
            if (summer.pageParam.NOTINCLUDINGNEW) {
                loanInfo2.noticeOfPayment.NOTINCLUDING = summer.pageParam.NOTINCLUDINGNEW;
            } 
        };
    </script>
</body>

</html>
