<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="loanInfo.css">
    <link rel="stylesheet" href="../../../css/mint.css">
    <script src="../../../js/summer.js"></script>
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../../js/font.js"></script>
    <script src="../../../js/vue.js"></script>
    <script src="../../../js/mint.js"></script>
    <script src="../../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content" v-cloak>
            <ul class="loanList">
                <li>
                    <span>是否提前付款</span>
                    <div>正常付款</div>
                </li>
                <li>
                    <span>合同编号</span>
                    <div>{{ contractInfo.LEASE_CODE }}</div>
                </li>
                <li>
                    <span>合同签字日期</span>
                    <div>{{ contractInfo.LESSEE_TIME }}</div>
                </li>
                <li>
                    <span>承租人姓名</span>
                    <div>{{ contractInfo.RENTER_NAME }}</div>
                </li>
                <li>
                    <span>GPS安装状态</span>
                    <div>{{ contractInfo.TG_STATE }}</div>
                </li>
                <li>
                    <span>付款方式</span>
                    <div>{{ contractInfo.PAY_WAY }}</div>
                </li>
                <li>
                    <span>抵押状态</span>
                    <div>{{ contractInfo.STATUS }}</div>
                </li>
                <li>
                    <span>实际成交价</span>
                    <strong>元</strong>
                    <div>{{ contractInfo.LEASE_TOPRIC }}</div>
                </li>
                <li>
                    <span>贴息</span>
                    <strong>元</strong>
                    <div>{{ contractInfo.DISCOUNT }}</div>
                </li>
                <li>
                    <span>贴息类型</span>
                    <div>{{ contractInfo.PREMIUMS }}</div>
                </li>
                <li>
                    <span>代收金额</span>
                    <strong>元</strong>
                    <div v-if="isActive">{{ contractInfo.COLLECTION }}</div>
                    <div v-else>0</div>
                </li>
                <li>
                    <span>是否代收</span>
                    <div class="type">
                        <span v-bind:class="{ active: isActive }" @click="chooseYes">是</span>
                        <span v-bind:class="{ active: !isActive }" @click="chooseNo">否</span>
                    </div>
                </li>
                <li>
                    <span>合同补充约定</span>
                    <input v-model="remarks" type="text" placeholder="请输入" />
                </li>
                <li>
                    <span>资料上传</span>
                    <div class="divs" @click="toUpload">
                        <span class="iconfont icon-enter"></span>
                        <i class="color">开始上传</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var loanInfo = new Vue({
            el: '#index',
            data: {
                CONTRACT_ID: "", // 融资租赁合同id
                realPaymentInfo: {}, // 实际付款信息
                paymentHistory: {}, // 付款历史信息
                riqi: {}, // 付款日期
                noticeOfPayment: {}, // 付款通知书
                paymentOfthis: {}, // 本次付款信息列表
                fileList: {}, // 付款文件
                contractInfo: {}, // contractInfo
                // 是否代收
                isCOLLECTION: true,
                // 合同补充约定
                remarks: ""
            },
            computed: {
                // 单选样式
                isActive: function () {
                    if (this.isCOLLECTION) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            methods: {
                getData: function () {
                    summer.showProgress();
                    ajaxRequest({
                        type: 'post',
                        url: 'payment/queryPaymentInfo',
                        param: {
                            "CONTRACT_ID": this.CONTRACT_ID
                        }
                    }, function(res) {
                        summer.hideProgress();
                        var Data;
                        if (Object.prototype.toString.call(res.data) === '[object String]') {
                            Data = JSON.parse(res.data);
                        } else {
                            Data = res.data;
                        }
                        if (Data.flag == 1) {
                            loanInfo.realPaymentInfo = Data.datas.realPaymentInfo ? Data.datas.realPaymentInfo : {};
                            loanInfo.paymentHistory = Data.datas.paymentHistory ? Data.datas.paymentHistory : {};
                            loanInfo.riqi = Data.datas.riqi ? Data.datas.riqi : {};
                            loanInfo.noticeOfPayment = Data.datas.noticeOfPayment ? Data.datas.noticeOfPayment : {};
                            loanInfo.paymentOfthis = Data.datas.paymentOfthis ? Data.datas.paymentOfthis : {};
                            loanInfo.fileList = Data.datas.fileList ? Data.datas.fileList : {};
                            loanInfo.contractInfo = Data.datas.contractInfo ? Data.datas.contractInfo : {};
                        } else {
                            summer.toast({
                                msg: "暂无数据"
                            });
                        }
                    }, function(err) {
                        summer.hideProgress();
                        summer.toast({
                            msg: "暂无数据"
                        });
                        console.log(err);
                    });
                },
                // 是否代收
                chooseYes:function () {
                    this.isCOLLECTION = true;
                },
                chooseNo:function () {
                    this.isCOLLECTION = false;
                },
                // 资料上传
                toUpload: function () {
                    summer.openWin({
                        id: 'fileList',
                        url: 'html/repayApply/fileList.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "付款资料上传",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039BE5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "goBack()"
                            }]
                        },
                        pageParam: {
                            TPHID: this.contractInfo.TPHID
                        }
                    });
                },
                // 下一步
                openLoanInfoNext: function () {
                    /* if (this.remarks == "") {
                        summer.toast({
                            msg: "请输入合同补充约定"
                        });
                        return;
                    } */
                    summer.openWin({
                        id: 'loanInfo2',
                        url: 'html/repayApply/payApply/loanInfo2.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "付款申请",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039BE5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "提交",
                                textColor: "#ffffff",
                                method: "loanInfo2.submit()"
                            }]
                        },
                        pageParam: {
                            CONTRACT_ID: this.CONTRACT_ID, // 融资租赁合同id
                            realPaymentInfo: this.realPaymentInfo, // 实际付款信息
                            paymentHistory: this.paymentHistory, // 付款历史信息
                            riqi: this.riqi, // 付款日期
                            noticeOfPayment: this.noticeOfPayment, // 付款通知书
                            paymentOfthis: this.paymentOfthis, // 本次付款信息列表
                            fileList: this.fileList, // 付款文件
                            contractInfo: this.contractInfo, // contractInfo
                            // 是否代收
                            isCOLLECTION: this.isCOLLECTION,
                            // 合同补充约定
                            remarks: this.remarks
                        }
                    });
                }
            }
        });
        summerready = function() {
            var CONTRACT_ID = summer.pageParam.CONTRACT_ID;
            loanInfo.CONTRACT_ID = CONTRACT_ID;
            loanInfo.getData();
        };
    </script>
</body>

</html>
