<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <link rel="stylesheet" href="./index.min.css">
</head>

<body>
    <div class="um-win" id="riskTrackContent" v-cloak>
        <div class="riskTrackContent">
            <ul v-if="stateVal=='repayment'">
                <li v-for="(item,index) in payList" :key="index">
                    <span class="ps">
                        <table>
                            <tr>
                                <td class="first">
                                    <p class="first-child">{{item.RENTER_NAME}}</p>
                                </td>
                                <td>
                                    <span>{{item.PAY_DATE}}</span>
                                </td>
                                <td rowspan="2">
                                    <i class="icon iconfont icon-enter"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">
                                    <p>提醒合同数：{{item.CONTRACT_CODE_COUNT}}</p>
                                </td>
                                <td>
                                    <p class="money">&yen;{{item.CURR_PRICE}}</p>
                                </td>
                            </tr>
                        </table>
                    </span>
                </li>
            </ul>
            <ul v-if="stateVal=='expected'">
                <li v-for="(item,index) in expectedList" :key="index" @click="goMoney(item.RENTER_CODE)">
                    <span class="ps">
                        <table>
                            <tr>
                                <td class="first">
                                    <p class="first-child">{{item.RENTER_NAME}}</p>
                                </td>
                                <td>
                                    <span>逾期天数：{{item.DUNDAY}}</span>
                                </td>
                                <td rowspan="2">
                                    <i class="icon iconfont icon-enter"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="first">
                                    <p>罚息金额：&yen;{{item.SUM_FINE}}</p>
                                </td>
                                <td>
                                    <p class="money">&yen;{{item.CURR_SUM_MONEY}}</p>
                                </td>
                            </tr>
                        </table>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/font.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script>
        var riskTrackContentVue = new Vue({
            el: '#riskTrackContent',
            data: function () {
                return {
                    expectedList: [],
                    payList: [],
                    stateVal: 'repayment',
                    currentPage: 1,
                    totalpage: ""
                }
            },
            methods: {
                getData: function () {
                    var _this = this
                    summer.showProgress();
                    if (this.stateVal == "repayment") {
                        // 还款提醒列表
                        ajaxRequest({
                            type: "POST",
                            url: 'riskTracking/queryRentRemindList',
                            param: {
                                pageSize: 10,
                                pageNo: _this.currentPage
                            }
                        }, function (res) {
                            summer.hideProgress();
                            _this.payList = _this.payList.concat(res.data.datas.list);
                            _this.totalpage = res.data.datas.last;
                            _this.$nextTick(function () {
                                summer.refreshHeaderLoadDone() //加载完成后调用方法恢复组件到默认状态
                                summer.refreshFooterLoadDone(); //加载完成后调用方法恢复组件到默认状态
                            })
                        }, function (err) {
                            summer.hideProgress();
                            console.log(err);
                        })
                    } else if (this.stateVal == "expected") {
                        // 逾期催收列表
                        ajaxRequest({
                            type: "POST",
                            url: 'riskTracking/queryOverdueList',
                            param: {
                                pageSize: 10,
                                pageNo: _this.currentPage
                            }
                        }, function (res) {
                            console.log(JSON.stringify(res));
                            summer.hideProgress();
                            _this.expectedList = _this.expectedList.concat(res.data.datas.list);
                            _this.totalpage = res.data.datas.last;
                            _this.$nextTick(function () {
                                summer.refreshHeaderLoadDone() //加载完成后调用方法恢复组件到默认状态
                                summer.refreshFooterLoadDone(); //加载完成后调用方法恢复组件到默认状态
                            })
                        }, function (err) {
                            summer.hideProgress();
                            console.log(err);
                        })
                    }

                },
                // 需求暂时没有还款明细
                /* goDetail: function (RENTER_CODE) {
                    summer.openWin({
                        id: 'payTableDetail',
                        url: 'html/riskTracking/riskTrackingMsg.html',
                        create: false,
                        type: 'actionBar',
                        pageParam: {
                            RENTER_CODE: RENTER_CODE
                        },
                        actionBar: {
                            title: "还款提醒明细",
                            titleColor: "#ffffff",
                            backgroundColor: "#039BE5",
                            leftItem: {
                                image: "img/back.png",
                                method: '',
                                text: "返回",
                                textColor: "#ffffff"
                            }
                        }
                    })
                }, */
                goMoney: function (RENTER_CODE) {
                    summer.openWin({
                        id: 'payTableDetail',
                        url: 'html/riskTracking/riskTrackingMoney.html',
                        create: false,
                        type: 'actionBar',
                        pageParam: {
                            RENTER_CODE: RENTER_CODE
                        },
                        actionBar: {
                            title: "逾期催收列表",
                            titleColor: "#ffffff",
                            backgroundColor: "#039BE5",
                            leftItem: {
                                image: "img/back.png",
                                method: '',
                                text: "返回",
                                textColor: "#ffffff"
                            }
                        }
                    })
                }
            }
        });

        function getData(val) {
            riskTrackContentVue.stateVal = val
            riskTrackContentVue.currentPage = 1;
            riskTrackContentVue.getData();
        }

        summerready = function () {
            getData('repayment');
            summer.setRefreshHeaderInfo({
                visible: true,
                loadingImg: 'img/refresh.png',
                bgColor: '#ffffff',
                textColor: '#aaaaaa',
                textDown: '下拉刷新...',
                textUp: '松开刷新...',
                showTime: true
            }, function (ret, err) {
                //通常在这里从服务器加载数据，t
                riskTrackContentVue.currentPage = 1;
                riskTrackContentVue.payList = [];
                riskTrackContentVue.expectedList = [];
                riskTrackContentVue.getData();
            });
            summer.setRefreshFooterInfo({
                visible: true,
                loadingImg: 'img/refresh.png',
                bgColor: '#ffffff',
                textColor: '#aaaaaa',
                textDown: '上拉刷新...',
                textUp: '松开刷新...',
                showTime: true
            }, function (ret, err) {
                //通常在这里从服务器加载数据，
                riskTrackContentVue.currentPage += 1;
                if (riskTrackContentVue.currentPage > riskTrackContentVue.totalpage) {
                    summer.toast({
                        "msg": "没有更多了"
                    });
                    summer.refreshHeaderLoadDone(); //加载完成后调用方法恢复组件到默认状态
                    summer.refreshFooterLoadDone(); //加载完成后调用方法恢复组件到默认状态
                    return;
                }
                riskTrackContentVue.getData();
            });
        }
    </script>
</body>

</html>